* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 12px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 600px;
    height: 600px;
}

p {
    border-bottom: 4px solid grey;
    border-right: 4px solid grey;
}

p:nth-child(n+7) {
    border-bottom: none;
}

p:nth-child(3n+3) {
    border-right: none;
}

p {
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 24px;
}

#newGame {
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    width: 192px;
    height: 24px;
    font-size: medium;
}